<!-- views/results.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gender Reveal</title>
</head>

<body>
    <h1>Gender Reveal</h1>
    <% if (secret) { %>
        <div id="countdown">Countdown: <span id="timer">10</span> seconds</div>
        <div id="reveal-image">
            <% if (revealImage) { %>
                <img src="<%= currentImage %>" alt="Reveal Image" width="400">
                <p id="secret-revealed" style="display: none;">Secret Revealed: <%= secret %>
                </p>
                <% } else { %>
                    <img src="/1628017469449.jpg" alt="Original Image" width="400">
                    <% } %>
        </div>
        <h2>Well Wishes</h2>
        <ul id="wellWishesList">
            <% wellWishes.forEach(function (wish) { %>
                <li>
                    <%= wish %>
                </li>
                <% }); %>
        </ul>
        <form id="wellWishesForm">
            <textarea id="wellWishes" rows="4" cols="50" placeholder="Enter your well wishes here"></textarea><br>
            <input type="submit" value="Send">
        </form>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var countdownElement = document.getElementById('timer');
                var countdownInterval = null;

                function startCountdown() {
                    var countdown = 10; // Countdown time in seconds
                    countdownInterval = setInterval(function () {
                        countdown--;
                        countdownElement.textContent = countdown;
                        if (countdown <= 0) {
                            clearInterval(countdownInterval);
                            revealImage();
                        }
                    }, 1000);
                }

                function revealImage() {
                    document.getElementById('countdown').style.display = 'none';
                    document.getElementById('reveal-image').innerHTML = '<img src="<%= currentImage %>" alt="Reveal Image" width="400"><p id="secret-revealed">Secret Revealed: <%= secret %></p>';
                }

                startCountdown();

                // Function to display well wishes
                function displayWellWish(message) {
                    var list = document.getElementById('wellWishesList');
                    var listItem = document.createElement('li');
                    listItem.textContent = message;
                    list.appendChild(listItem);
                }

                // AJAX for submitting well wishes form
                var form = document.getElementById('wellWishesForm');
                form.addEventListener('submit', function (event) {
                    event.preventDefault();
                    var message = document.getElementById('wellWishes').value;
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '/wellwishes', true);
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState == 4 && xhr.status == 200) {
                            var response = JSON.parse(xhr.responseText);
                            displayWellWish(response.message);
                            document.getElementById('wellWishes').value = ''; // Clear the input field
                        }
                    };
                    xhr.send(JSON.stringify({ message: message }));
                });
            });
        </script>
        <% } else { %>
            <div id="reveal-image">
                <img src="/1628017469449.jpg" alt="Original Image" width="400">
            </div>
            <% } %>
</body>

</html>